.contact{
  header {
    text-align: center;
    margin-bottom: 30px;
    h1{
      font-size: 30px;
      font-family: "Raleway-Black";
      margin-top: 0;
    }
    p{
      line-height: 30px;
    }
  }

  .contact-info{

    .detail{
      text-align: center;
      padding: 40px 0px 15px;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      position: relative;
      height: 150px;

      .type{
        color: #c1c1c1;
        font-size: 20px;
        font-family: "Raleway-Italic";
      }

      .type-dt{
        font-size: 16px;
        line-height: 30px;
        margin-top: 25px;
      }

      .mtop-5{
        margin-top: 5px;
      }

      span{
        display: inline-block;
        width: 120px;
        background: #fff;
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -60px;
        i{
          margin-right: 0;
          font-size: 40px;
          color: #f48100;
        }
      }
    }
  }

  .contact-form{
    padding: 40px 0;
    background: #f6f6f6;
    margin-bottom: 60px;
    border-radius: 5px;

    h3{
      font-size: 23px;
      font-family: "Raleway-Bold";
      margin-top: 0;
    }

    p{
      font-size: 13px;
      margin-bottom: 40px;
    }

    form{
      text-align: left;

      button{
        width: 100%;
        margin-top: 15px;
      }
    }
  }
}

.contact-map{
  margin-bottom: 100px;
}

@media (max-width: 769px) {
  .contact {
    header {
      p{
        font-size: 12px;
      }
    }
    .contact-info {
      .detail{
        margin-bottom: 40px;
      }
    }
  }

  .form-contact{
    .container-ct-f {
      margin: 0;
      padding: 0;
      width: 100%;

      .contact-form{
        padding: 40px 15px;
      }
    }
  }
}