$color-black: #222222;
$text-position-cl: #909090; //Color doctor position
$btn-make-bg: #f48100; // Background button make appointment
$font-black: "Raleway-Black";
$font-italic: "Raleway-Italic";

$bg-contact-cl: #888888;
$section-title-cl: #222222; // 
$background-menu-cl: #999999; //
$menu-text-cl: #222222; //
$menu-hover-cl: #000000; //
$bg-news-color: #f6f6f6;
$bg-contact-top-color: #c2c7d1; //

$color-text-contact-top: #ffffff; // Color text contact header
$font-bold: "Raleway-Bold"; // Font family contact top
$font-medium: "Raleway-Medium"; //Font family menu
$menu-hover-cl: #c2c7d1; //Color text menu hover, focus, active

$bg-bottom-cl: #fafafa;
$font-size-text-bt: 12px;