/vendor
/node_modules
/public/storage
/public/images
Homestead.yaml
Homestead.json
.env
/.idea
/app/Themes/tmp/
/app/Themes/upload/
/public/uploads
core-cms.rar
/config/theme.php
/resources/views/themes
/public/themes